
  <section>
    <div class="card">
      <div class="card-content">
          
        <div class="content">
         
          <p class="title is-4">{{post_plain.title}}</p>
          <p class="title is-4">{{post_plain.content}}</p>
          <p class="title is-4">Post created by {{post_plain.user.name}}</p>
          <p class="title is-4">Post created at {{formatDate post_plain.createdAt}}</p>
          {{#each comment_data as |comment|}}
            <p class="subtitle is-6">{{comment.content}}</p>
            <p class="subtitle is-6">Comment by {{comment.user.name}}</p>
            <p class="subtitle is-6">Comment created at: {{formatDate comment.createdAt}}</p> 
          {{/each}}
          <footer class="card-footer">
               <a href="/addcomment?postid={{post_plain.id}}" class="card-footer-item" data-id="{{post.id}}">Add comments</a>
               <a href="/" class="card-footer-item">Go to home</a> 
             
             </footer>
        </div>
      </div>
    </div>
  </section>