
{{#if post_data_plain.length}}
{{!-- 
  <p class="title is-4">Your Reviews</p> --}}
  <a href="/addapost" class="card-footer-item" id="add-post">Add a new  post</a>        
  {{#each post_data_plain as |post|}}
  <section>
    <div class="card">
      <div class="card-content">
        <div class="media">
         
          <div class="media-content">
          
        <div class="content">
         
          <p class="title is-4">{{post.title}}</p>
          <p class="title is-4">{{post.content}}</p>
        </div>
        <footer class="card-footer">
            <a href="/post/{{post.id}}" class="card-footer-item" id="view-comments" data-id="{{post.id}}">View comments</a> 
            <a href="/editpost/{{post.id}}" class="card-footer-item" id="edit-post">Edit this post</a>
            <a href="#" class="card-footer-item" id="delete-post" data-id="{{post.id}}">Delete this post</a>
          </footer> 
      </div>
    </div>
  </section>
  {{/each}}

{{else}}
<p>No posts found.</p>
{{/if}}


<script src="/js/deletepost.js"></script>


